while ($row = mysqli_fetch_array($result, MYSQL_NUM)) {
                $data[$row[0]] = $row[1];
            }
        $json_response = json_encode($data);
	{ author "anonim"
	version "1.2.4"
	country program "Poland"
	control version "git"
		}
